body{
	background-color: #40165b;
}

div{
	position: static;
	height: 1000px;
	display: inline-block;
	border-radius: 50%;
	text-align: center;
	margin: 0%;
}
.inner {
    border-color: black;
    border-style: solid;
    height: 600px;
    width: 600px;
	margin: 0 auto;
	position: relative;
	top: 20%;
	background-color: #ce6621;
}

img{
	width: 400px;
	height: 400px;
	margin: 15%;
}

h1{
	font-size: 100px;
	text-align: center;
	color: #ce6621;
	font-family: helvetica;
	margin-bottom: 0%; 
}

